<div data-caustique-app-navbar></div>

<div class="container">
	<header class="page-header">
		<h1>ChessboardJS examples <small>Basic usage - Start position</small></h1>
	</header>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-1"></div>
		
		<div class="col-md-4">
			<div data-caustique-app-sidebar></div>
		</div>
		
		<div class="col-md-6">					
			<h5>HTML</h5>
			<p>
				
<pre class="prettyprint">
<div id="board" style="width:100%"></div>
</pre>
			</p>
			<h5>JAVASCRIPT</h5>
			<p>
				
<pre class="prettyprint">
var board = new Chessboard('board');
</pre>
			
			</p>
	
			<div id="my-board" style="width:100%"></div>
		</div>
		
		<div class="col-md-1"></div>
	</div>
</div>

<script>		
											
	var board = new Chessboard('my-board');
	
	$(document).ready(prettyPrintPrepare);
	
</script>

