<div data-caustique-app-navbar></div>

<div class="container">
	<header class="page-header">
		<h1>ChessboardJS examples <small>Styling - Images</small></h1>
	</header>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-1"></div>
		
		<div class="col-md-4">
			<div data-caustique-app-sidebar></div>
		</div>
		
		<div class="col-md-6">					
			<h5>CSS</h5>
			<p>
				
<pre class="prettyprint lang-css">
#my-board-with-images div.chess_board div.chess_player_black.chess_piece_pawn:after,
...
#my-board-with-images div.chess_board div.chess_player_white.chess_piece_king:after {
	content: '';
}


#my-board-with-images div.chess_board div.chess_player_black.chess_piece_pawn {
	background-image: url('http://upload.wikimedia.org/wikipedia/commons/c/c7/Chess_pdt45.svg');
}
...
#my-board-with-images div.chess_board div.chess_player_white.chess_piece_king {
	background-image: url('http://upload.wikimedia.org/wikipedia/commons/4/42/Chess_klt45.svg');
}
</pre>
			</p>
	
			<div id="my-board-with-images" style="width:100%"></div>
		</div>
		
		<div class="col-md-1"></div>
	</div>
</div>

<script>		
	
	var ruyLopez = 'r1bqkbnr/pppp1ppp/2n5/1B2p3/4P3/5N2/PPPP1PPP/RNBQK2R';
	var board = new Chessboard('my-board-with-images', ruyLopez);								
	
	$(document).ready(prettyPrintPrepare);
	
</script>

